*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ul{list-style: none;}
a{text-decoration: none; cursor: default;}
img{max-width: 100%;}



@media screen and (max-width: 480px) {
    
}


@media screen and (max-width: 720px) {
    
}


@media screen and (max-width: 1920px) {
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: 
                "header"
                "main"
                "footer"
        ;
    }

    /*Estilo aplicado ao cabecalho*/
    header{
        grid-area: header;
        display: grid;  
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        grid-template-areas:
                "logo navegacao navegacao-logo-header"
        ;
        background-color: rgb(4, 0, 65);
    }

    .logo{
        grid-area: logo;
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 100%;
        grid-template-areas: 
                "navegacao-logo-header"
        ;
        cursor: default;
        /* align-self: center; */
    }



    /*Criando a logo */
    .navegacao-logo-header{
        grid-area: navegacao-logo-header;
        display: grid;
        grid-template-rows: 63%;
        grid-template-columns: 100%;
        grid-template-areas: 
                "link-logo-main"
        ;
        align-content: center;
    }

    .link-logo-main{
        grid-area: link-logo-main;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 45% 10% 45%;
        grid-template-areas: 
                "nome-logo-header"
                "divisao-logo-header"
                "formacao-logo-header"
        ;
        
        color: white;
    }

    .link-logo-main:hover{
        cursor: pointer;
    }
    
    .nome-logo-header{
        width: 90%;
        grid-area: nome-logo-header;
        font-size: calc(1.2vh + 1.2vw);
        font-weight: 600;
        display: grid;
        align-self: end;
    }

    .divisao-logo-header{
        grid-area: divisao-logo-header;
        height: 100%;
        width: 100%;
        background-color: turquoise;
        
    }

    .formacao-logo-header{
        grid-area: formacao-logo-header;
        display: grid;
        justify-self: end;
        font-size: calc(1.0vh + 1.0vw);
        font-weight: 400;
        display: grid;
    }
    /*FIM DO LOGO*/




    /*Estilo para NAV-BAR*/
    .navegacao{
        grid-area: navegacao;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 
                "navbar-header"
        ;
        color: white;
        
    }

    .navbar-header{
        grid-area: navbar-header;
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 100%;
        justify-content: end;
        margin-right: 5%;
    }
    
    .navbar-header ul{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50%;
        font-size: calc(0.8vh + 0.8vw);
        font-weight: 550;
        align-content: center;
    }
    
    .navbar-header li{
        display: grid;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        font-family: monospace;
        width: 80%;
    }

    .navbar-header li:hover{
        cursor: pointer;
        background-color: rgb(9, 0, 87);
        box-shadow: 0px 0px 10px 1px rgb(1, 224, 240);
    }
    /*FIM MENU DE NAVEGACAO*/




    /*Estilo do conteudo da pagina principal*/

    main{
        grid-area: main;
        height: 100%;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-areas: 
                "bg1 bg2"
        ;
        /* overflow: hidden; */
    }

    .bg1-main{
        grid-area: bg1;
        display: grid;
        grid-template-columns: 30%;
        justify-content: end;
        background-color: rgb(104, 237, 255);
    }

    .bg2-main{
        background-color: rgb(3, 5, 102);
        
    }

    .bg1-bg2-main{
        background-color: rgb(3, 5, 102);
    }

    /*Estilo aplicado ao card principal da pagina home*/

    .container-flutuante-main{
        /* grid-area: container-flutuante-main; */
        position: absolute;
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 80% 20%;
        grid-template-areas: 
                "card-flutuante-main texto-apresentacao"
                "card-flutuante-main card-tecnologias-main"
        ;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .card-tecnologias-main{
        grid-area: card-tecnologias-main;
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: 100%;
        grid-template-areas: 
                "icons-tecnologias"
        ;
        margin-left: 10%;
    }
    
    .icons-tecnologias{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 100%;
        overflow: hidden;
    }
    
    
    .icons-tecnologias div{
        display: grid;
        /* grid-template-rows: ; */
        /* grid-template-columns: 100%; */
        /* align-content: top; */
        cursor: default;
    }
    
    
    .icons-tecnologias div:nth-child(n) {
        margin-top: 10%;
        height: 38%;
        width: 47%
        
    }
    
    .icons-tecnologias div:nth-child(n):hover {
        margin-top: 7%;
        
    }
    .img-icons-tecnologias{
        /* margin-right: ; */
        /* padding: 10%; */
        max-height: 100%;
        max-width: 100%;
    }
    .img-icons-tecnologias:hover{
        cursor: pointer;
    }
    
    
    .card-flutuante-main{
        /* position: absolute; */
        height:calc(20vh +  20vw);
        width:calc(13vh + 13vw);
        margin-top: 15%;
        background-color: white;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.63);
        display: grid;
        align-content: start;
        justify-self: end;
        grid-template-columns: 100%;
        grid-template-rows: 60% 15% 25%;
        grid-template-areas: 
                "foto-card-main"
                "logo-card-main"
            "midias-sociais-card-main"
        ;
    }

    .midias-sociais-card-main{
        grid-area: midias-sociais-card-main;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "icons-midias-sociais-main";              
    }
            
    .icons-midias-sociais-main{
        grid-area: icons-midias-sociais-main;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        align-self: end;
        margin-bottom: 2%;
        
    }
    .icons-midias-sociais-main > a{
        justify-self: center;
    }

    .img-midias-sociais{
        
        max-height: calc(1.7vh + 1.7vw);
        max-width: calc(1.7vh + 1.7vw);
    }

    .foto-card-main{
        grid-area: foto-card-main;
        /* height: calc(60% + 60%); */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas:
                "img-card-main";
        align-items: center;
    }

    .img-card-main{
        grid-area: img-card-main;
        justify-self: center;
        align-self: start;
        margin-top: 5%;
        width: calc(35% + 35%);
    }

    .img-card-main img{
        box-shadow: 0px 0px 0px 3px rgb(0, 0, 0);
    }

    .logo-card-main{
        grid-area: logo-card-main;
        /* height: 90px; */
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 46% 4% 50%;
        grid-template-areas: 
                "nome-logo-card-main"
                "linha-logo-card-main"
                "formacao-logo-card-main"
        ;
        align-items: start;
    }

    .nome-logo-card-main{
        grid-area: nome-logo-card-main;
        font-size: calc(1.2vh + 1.2vw);
        font-weight: 600;
        display: grid;
        align-self: end;
        margin-left: 3%;
        /* margin-top: 0px; */
    }

    .linha-logo-card-main{
        grid-area: linha-logo-card-main;
        justify-self: center;
        align-self: start;
        height: 100%;
        width: 94%;
        background-color: turquoise;
    }

    .formacao-logo-card-main{
        font-size: calc(1.1vh + 1.1vw);;
        font-weight: 400;
        margin-right: 3%;
        display: grid;
        justify-self: end;
        align-self: start;
    }
    
    /* .texto-apresentacao div{

    } */

    .texto-apresentacao{
        grid-area: texto-apresentacao;
        display: grid;
        grid-template-columns: calc(60vw);
        color: white;
        font-weight: 550;
        font-size: calc(1.2vh + 1.2vw);
        text-shadow: 0px 0px 4px rgb(0, 0, 0);
    }


    .texto-apresentacao div{
        margin-left: 5%;
        margin-top: 12%;
    }

    .texto-apresentacao > p{
        font-family: monospace;
        content: "|";
    }



    footer{
        grid-area: footer;
        display: grid;
        grid-template-rows: 30%;
        grid-template-columns: 28%;
        align-content: center;
        justify-content: start;
        background-color:rgb(4, 0, 65);
    }

    .texto-footer{
        display: grid;
        margin-left: 5%;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    
    .texto-footer:nth-child(1){
        display: grid;
        align-self: end;
        font-size: calc(0.7vh + 0.7vw);
        
    }    

    footer p{

        
        color: white;
    }
}