*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

ul{list-style: none;}
a{text-decoration: none;}
img{max-width: 100%;}


@media screen and (max-width: 480px) {
    
}


@media screen and (max-width: 720px) {
    
}


@media screen and (max-width: 1920px) {
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
                "header"
                "main"
                "footer"
        ;
    }

    /*Estilo aplicado ao cabecalho*/
    header{
        grid-area: header;
        display: grid;  
        grid-template-columns: 30% 70%;
        grid-template-areas:
                "logo navegacao"
        ;
        height: 100px;
        background-color: rgb(4, 0, 65);
    }

    .logo{
        grid-area: logo;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
                "navegacao-logo-header"
        ;
        cursor: default;
    }
    /*Criando a logo */
    .navegacao-logo-header{
        grid-area: navegacao-logo-header;
        display: grid;
        grid-template-columns: 300px;
        grid-template-areas: 
                "nome-logo-header"
                "divisao-logo-header"
                "formacao-logo-header"
        ;
        justify-content: start;
        padding-left: 10px;
        color: white;
    }

    .navegacao-logo-header > a{
        color: white;
    }

    
    .nome-logo-header{
        grid-area: nome-logo-header;
        font-size: 22pt;
        font-weight: 600;
        width: 300px;
        display: grid;
        margin-top: 15px;
        align-self: end;
    }

    .divisao-logo-header{
        grid-area: divisao-logo-header;
        height: 5px;
        width: 300px;
        background-color: turquoise;
        
    }

    .formacao-logo-header{
        grid-area: formacao-logo-header;
        font-size: 19pt;
        font-weight: 400;
        width: 251px;
        display: grid;
        margin-left: 17%;
        margin-bottom: 15px;
    }
    /*FIM DO LOGO*/


    /*Estilo para NAV-BAR*/
    .navegacao{
        grid-area: navegacao;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
                "navbar-header"
        ;
        color: white;
        
    }

    .navbar-header{
        grid-area: navbar-header;
        display: grid;
        justify-content: end;
        align-items: center;
    }

    .navbar-header li{
        display: inline-block;
        margin-right: 25px;
        padding: 25px;
        font-size: 20px;
        font-family: monospace;
        font-weight: 550;
    }

    .navbar-header li:hover{
        cursor: pointer;
        background-color: rgb(9, 0, 87);
        box-shadow: 0px 0px 10px 1px rgb(1, 224, 240);
    }

    /*FIM MENU DE NAVEGACAO*/

    /*Estilo do conteudo da pagina principal*/

    main{
        grid-area: main;
        height: calc(100vh - 190px);
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
                "bg1 bg2"
        ;
        overflow: hidden;
    }

    .bg1-main{
        grid-area: bg1;
        background-color: rgb(104, 237, 255);
    }

    .bg2-main{
        background-color: rgb(3, 5, 102);
        grid-area: bg2;
        
    }

    /*Estilo aplicado ao card principal da pagina home*/

    .container-flutuante-main{
        position: absolute;
        width: 100vw;
        height: calc(100vh - 190px);
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
                "card-flutuante-main texto-apresentacao"
                "card-flutuante-main card-tecnologias-main"
        ;
    }

    .card-tecnologias-main{
        grid-area: card-tecnologias-main;
        display: grid;
        align-self: end;
        justify-self: end;

    }

    .icons-tecnologias{
        display: inline;
        overflow: hidden;
        margin-right: 70px;
        
    }

    .icons-tecnologias a{
        cursor: default;
    }

    .icons-tecnologias img{
        cursor: pointer;
        margin-left: 20px;
        margin-right: 20px;
    }

    .img-icons-tecnologias img:hover{
        margin-bottom: 70px;
        
    }
    

    .card-flutuante-main{
        /* position: absolute; */
        height: 500px;
        width: 350px;
        margin-left: 12vw;
        margin-top: 50px;
        background-color: white;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.63);
        display: grid;
        align-content: start;
        grid-template-columns: 100%;
        grid-template-areas: 
                "foto-card-main"
                "logo-card-main"
            "midias-sociais-card-main"
        ;
    }

    .foto-card-main{
        grid-area: foto-card-main;
        height: 320px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
                "img-card-main";
        align-items: center;
    }

    .img-card-main{
        grid-area: img-card-main;
        justify-self: center;
        height: 300px;
        width: 250px;
    }

    .img-card-main img{
        box-shadow: 0px 0px 0px 3px rgb(0, 0, 0);
    }

    .logo-card-main{
        grid-area: logo-card-main;
        height: 90px;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
                "nome-logo-card-main"
                "linha-logo-card-main"
                "formacao-logo-card-main"
        ;
        align-items: start;
    }

    .nome-logo-card-main{
        grid-area: nome-logo-card-main;
        font-size: 24pt;
        font-weight: 600;
        height: 25px;
        width: 300px;
        display: grid;
        align-self: start;
        margin-left: 10px;
        margin-top: 0px;
    }

    .linha-logo-card-main{
        grid-area: linha-logo-card-main;
        justify-self: center;
        align-self: start;
        height: 5px;
        width: 340px;
        background-color: turquoise;
    }

    .formacao-logo-card-main{
        font-size: 20pt;
        font-weight: 400;
        margin-right: 5px;
        display: grid;
        justify-self: end;
        margin-top: -10px;
    }
    .midias-sociais-card-main{
        grid-area: midias-sociais-card-main;
        display: grid;
        height: 85px;
        grid-template-columns: 100%;
        grid-template-areas: 
                "icons-midias-sociais-main";  
        justify-self: center;
        
    }

    .icons-midias-sociais-main{
        align-self: end;
        grid-area: icons-midias-sociais-main;
        
    }
    .icons-midias-sociais-main > a{
        margin:  0px 15px 0px 15px;
    }


    .texto-apresentacao{
        grid-area: texto-apresentacao;
        position: fixed;
        width: 53vw;
        margin-top: 120px;
        margin-left: calc(12vw + 400px);
    }

    .texto-apresentacao{
        color: white;
        font-weight: 550;
        font-size: 25px;
        text-shadow: 0px 0px 4px rgb(0, 0, 0);
        
    }

    .texto-apresentacao > p{
        font-family: monospace;
        content: "|";
    }



    footer{
        grid-area: footer;
        height: 90px;
        background-color:rgb(4, 0, 65);
        padding: 30px;
    }
    footer p{

        font-size: 14px;
        display: inline;
        color: white;
    }
}